<%- include('partials/Headerformyprofile')%>
    <!-- <span style="font-size:28px; cursor:pointer;" id="open" onclick="openNav()">&#9776;</span> -->
    <div class="sidebar h-100">
        <div id="info" class="h-8 pt-3 pb-2 mb-3">
            <span style="font-size:28px;" id="close" onclick="closeNav()">&#9776;</span>
            <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
            <%if(user.img){%>
                <a href="/image/<%=user._id%>"><img src="/image/<%=user._id%>" alt="dp" class="pic"></img></a>
                <label for="file">
                    <i class="fas fa-camera fa-sm text-decoration-none text-white" id="camera"></i>
                    <input type="file" id="file" style="display: none" name="image"
                        accept="image/gif,image/jpeg,image/jpg,image/png" multiple=""
                        data-original-title="upload photos">
                </label>
                <%}else{%>
                    <img src="../images/user.png" alt="dp" class="pic"><i class="fas fa-camera fa-sm"></i>
                    <label for="file">
                        <i class="fas fa-camera fa-sm text-decoration-none text-white" id="camera"></i>
                        <input type="file" id="file" style="display: none" name="image"
                            accept="image/gif,image/jpeg,image/jpg,image/png" multiple=""
                            data-original-title="upload photos">
                    </label>
                    <%}%>
                        <h4 id="name">
                            <%=user.detail.FullName%>
                        </h4>
                        <%if(user.detail.Description){%>
                            <h5>
                                <%=user.detail.Description%>
                            </h5>
                            <%}else{%>
                                <h5>Description</h5>
                                <%}%>
                                    <!-- <h5 id="name">Followers : <%=user.followers.length%></h5>
            <h5 id="name">Following : <%=user.following.length%></h5> -->
        </div>
        <div id="links" class="mt-5">
            <a class="active w-100 text-center p-3" href="/">Home</a>
            <a href="/#contactSec" class="w-100 text-center p-3">Contact</a>
            <a href="/logout" class="w-100 text-center p-3">Log out</a>
            <!-- <form style="text-align: center;" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <input type="submit" value="submit">
            </form> -->
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h3 class="navbar-brand mt-1" id="title">Quora</h3>
            <div class="collapse navbar-collapse navItem">
                <form class="d-flex">
                    <input class="form-control me-4 mt-1 searchBar" type="search" placeholder="Search"
                        aria-label="Search">
                    <img src="../images/user.png" id="profilePic" alt="dp">
                </form>
            </div>
        </div>
    </nav>
    <section id="myContent" class="border-primary d-flex flex-column align-items-start">
        <div class="content">
            <a href="#" class="text-reset"><span id="editSpan"><i class="fas fa-pen fa-2x fa-center"></i></span></a>
            <form>
                <table>
                    <tr>
                        <td><label class="firstLabel">First name</label></td>
                        <td><input type="text" id="FName" value="<%=user.detail.FName%>" class="myInput"
                                readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">Last name</label></td>
                        <td><input type="text" id="LName" class="myInput" value="<%=user.detail.LName%>"
                                readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">Email</label></td>
                        <td><input type="email" id="mail" class="myInput" value="<%=user.username%>"
                                readonly="readonly">
                        </td>
                    </tr>
                </table>
                <!-- <button id="editBtn" type="button" onclick="saveedit()">Edit</button>
            <button id="pinChange" type="button">Change Password</button>  -->
                <!-- </form>
            <div class="table-2">
              <form  action="/changePassword" method="post">
                
                <table>
                    <tr>
                        <td><label class="secLabel">Old Password</label></td>
                        <td><input name="oldpassword" type="password"></td>
                    </tr>
                    <tr>
                        <td><label class="secLabel">New Password</label></td>
                        <td><input name="newpassword"type="password"></td>
                    </tr>
                </table>
                <button id="saveBtn">Save</button>
              </form>

            </div>
            <form>
         <div id="moreInfo">
                <h1>Add More Details</h1>
                <table id="moreInfoTable">
                    <tr>
                        <td><label class="firstLabel">Description</label></td>
                        <td><input name = "Description"type="text" id="Description" placeholder="Description"></td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">Education</label></td>
                        <td>
                            <select name="edu" id="edu">
                                <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                <option value="No formal education">No formal education</option>
                                <option value="Primary education">Primary education</option>
                                <option value="Secondary education">Secondary education or high school</option>
                                <option value="Vocational qualification">Vocational qualification</option>
                                <option value="Bachelor's degree">Bachelor's degree</option>
                                <option value="Master's degree">Master's degree</option>
                                <option value="Doctorate or higher">Doctorate or higher</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">State</label></td>
                        <td>
                            <select name="state" id="state" class="form-control">
                                <option value="Andhra Pradesh" selected disabled>Select</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">City</label></td>
                        <td>
                            <select name="city" id="city">
                                <option value="Delhi" selected disabled>Select</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Lucknow">Lucknow</option>
                                <option value="Jaipur">Jaipur</option>
                                <option value="Banglore">Banglore</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button type="button" onclick="savedetail()">Save</button>
            </div>  -->
            </form>
        </div>
        <div class="text-center" id="profileNav">
            <hr />
            <div class="row">
                <div class="col"><a href="#" class="text-decoration-none">0 Questions</a></div>
                <div class="col"><a href="#" class="text-decoration-none">0 Answers</a></div>
                <div class="col"><a href="#" class="text-decoration-none">0 Followers</a></div>
                <div class="col"><a href="#" class="text-decoration-none">0 Following</a></div>
                <div class="col"><a href="#" class="text-decoration-none">0 Shares</a></div>
            </div>
            <hr />
        </div>

        <!-- QUESTIONS PART HERE -->

        <div class="questionDiv">
            <hr />
            <div>
                <a href="#" class="text-decoration-none">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Voluptatum quod id tempore, nesciunt mollitia dolores?</a>
            </div>
            <p class="text-decoration-none fs-6">0 Answers</p>
            <button class="answerBtn"><i class="far fa-edit">Answer</i></button>
            <div class="answerDiv mt-4 w-75">
                <div class="col p-3 d-flex align-items-center" id="writerDiv">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <span class="fs-6" id="writer">Ankit Bajpai</span>
                </div>
                <div class="p-1" id="textDec">
                    <button class="btn" id="bold"><i class="fas fa-bold"></i></button>
                    <button class="btn" id="italic"><i class="fas fa-italic"></i></button>
                </div>
                <div class="input-group p-2" id="answerBox">
                    <textarea class="form-control outline-none" id="answerBlock" placeholder="Write here..."></textarea>
                </div>
                <div class="p-3" id="postbtnDiv">
                    <button class="postBtn btn btn-primary rounded-pill">Post</button>
                </div>
            </div>
            <hr />
        </div>
        <div class="questionDiv">
            <hr />
            <div>
                <a href="#" class="text-decoration-none">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Voluptatum quod id tempore, nesciunt mollitia dolores?</a>
            </div>
            <p class="text-decoration-none fs-6">0 Answers</p>
            <button class="answerBtn"><i class="far fa-edit">Answer</i></button>
            <div class="answerDiv mt-4 w-75">
                <div class="col p-3 d-flex align-items-center" id="writerDiv">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <span class="fs-6" id="writer">Ankit Bajpai</span>
                </div>
                <div class="p-1" id="textDec">
                    <button class="btn" id="bold"><i class="fas fa-bold"></i></button>
                    <button class="btn" id="italic"><i class="fas fa-italic"></i></button>
                </div>
                <div class="input-group p-2" id="answerBox">
                    <textarea class="form-control outline-none" id="answerBlock" placeholder="Write here..."></textarea>
                </div>
                <div class="p-3" id="postbtnDiv">
                    <button class="postBtn btn btn-primary rounded-pill">Post</button>
                </div>
            </div>
            <hr />
        </div>
        <div class="questionDiv">
            <hr />
            <div>
                <a href="#" class="text-decoration-none">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Voluptatum quod id tempore, nesciunt mollitia dolores?</a>
            </div>
            <p class="text-decoration-none fs-6">0 Answers</p>
            <button class="answerBtn"><i class="far fa-edit">Answer</i></button>
            <div class="answerDiv mt-4 w-75">
                <div class="col p-3 d-flex align-items-center" id="writerDiv">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <span class="fs-6" id="writer">Ankit Bajpai</span>
                </div>
                <div class="p-1" id="textDec">
                    <button class="btn" id="bold"><i class="fas fa-bold"></i></button>
                    <button class="btn" id="italic"><i class="fas fa-italic"></i></button>
                </div>
                <div class="input-group p-2" id="answerBox">
                    <textarea class="form-control outline-none" id="answerBlock" placeholder="Write here..."></textarea>
                </div>
                <div class="p-3" id="postbtnDiv">
                    <button class="postBtn btn btn-primary rounded-pill">Post</button>
                </div>
            </div>
            <hr />
        </div>

        <!-- ANSWERS PART HERE -->

        <div class="answerer">
            <div class="profile">
                <img src="../images/user.png" alt="profile photo" class="dp">
                <h5 class="fw-bold">Ankit Bajpai</h5>
                <h5> ,Date and time...</h5>
            </div>
            <p id="ans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dicta, harum voluptatum quo eaque
                veritatis. Recusandae nihil praesentium illum tempore. Deserunt quod unde aut fugiat officiis fuga
                similique est veritatis, perferendis quos saepe! Id vel labore voluptatum a aut provident! Alias
                reprehenderit dicta qui iste aut labore sunt temporibus hic.</p>
            <img src="../images/like.png" class="ansIcons ansIconslike like clickedIcon">
            <img src="../images/dislike.png" class="ansIcons ansIconsdislike dislike clickedIcon">
            <hr />
        </div>
        <div class="answerer">
            <div class="profile">
                <img src="../images/user.png" alt="profile photo" class="dp">
                <h5 class="fw-bold">Ankit Bajpai</h5>
                <h5> ,Date and time...</h5>
            </div>
            <p id="ans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dicta, harum voluptatum quo eaque
                veritatis. Recusandae nihil praesentium illum tempore. Deserunt quod unde aut fugiat officiis fuga
                similique est veritatis, perferendis quos saepe! Id vel labore voluptatum a aut provident! Alias
                reprehenderit dicta qui iste aut labore sunt temporibus hic.</p>
            <img src="../images/like.png" class="ansIcons ansIconslike like clickedIcon">
            <img src="../images/dislike.png" class="ansIcons ansIconsdislike dislike clickedIcon">
            <hr />
        </div>

        <!-- FOLLOWERS AND FOLLOWING PART HERE -->

        <div class="p-2 follSec">
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Follow</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Follow</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Follow</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Follow</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Follow</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Follow</button>
            </div>
            <hr />
        </div>
        <div class="p-2 follSec">
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Following</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Following</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Following</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Following</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Following</button>
            </div>
            <hr />
            <div class="following col d-flex align-items-center">
                <i class="dpIcon fas fa-user-circle fa-2x"></i>
                <h6 class="fw-bold">Virat Kohli</h6>
                <h6> , Description</h6>
                <button class="followBtn">Following</button>
            </div>
            <hr />
        </div>
    </section>
    <script src="../myprofile.js"></script>

    </body>


    </html>