<%- include('partials/Headerformyprofile')%>
    <!-- <span style="font-size:28px; cursor:pointer;" id="open" onclick="openNav()">&#9776;</span> -->
    <div class="sidebar h-100">
        <div id="info" class="h-8 pt-3 pb-2 mb-3">
            <a href="/image/<%=user._id%>"><img src="/image/<%=user._id%>" alt="dp" class="pic"></img></a>
            <label for="file">
                <i class="fas fa-camera fa-xs text-decoration-none text-white" id="camera"></i>
                <form id="profilephoto" style="text-align: center;" action="/upload" method="post"
                    enctype="multipart/form-data">
                    <input type="file" id="file" style="display: none" name="file"
                        accept="image/gif,image/jpeg,image/jpg,image/png" multiple=""
                        data-original-title="upload photos">
                </form>
                <h5 id="name">
                    <%=user.detail.FullName%>
                </h5>
                <!-- <%if(user.detail.Description){%>
                    <h5 style="text-align: center;">
                        <%=user.detail.Description%>
                    </h5>
                    <%}else{%>
                        <h5 style="text-align: center;">Description</h5>
                        <%}%> -->
                            <!-- <h5 id="name">Followers : <%=user.followers.length%></h5>
            <h5 id="name">Following : <%=user.following.length%></h5> -->
        </div>
        <div id="links" class="mt-5">
            <a class="active w-100 text-center p-3" href="/">Home</a>
            <a href="/#contactSec" class="w-100 text-center p-3">Contact</a>
            <a href="/logout" class="w-100 text-center p-3">Log out</a>
            <!-- <form style="text-align: center;" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <input type="submit" value="submit">
            </form> -->
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <span id="openSide" onclick="openNav()">&#9776;</span>
            <h3 class="navbar-brand mt-1 text-warning fs-4" id="title">Quora</h3>
            <div class="collapse navbar-collapse navItem">
                <form action="/searching" method="post">
                    <input name="search" class="form-control me-4 mt-1 searchBar" type="text" placeholder="Search"
                        aria-label="Search">
                </form>
                <a href="/image/<%=user._id%>" style="padding-left: 30px;"><img src="/image/<%=user._id%>"
                        id="profilePic" alt="dp"></a>
            </div>
        </div>
    </nav>
    <!-- <nav class="mobileNav bg-dark p-3">
        <span id="openSide" onclick="openNav()">&#9776;</span>
        <h1 class="d-inline text-warning fs-3">Quora</h1>
    </nav> -->
    <section id="myContent" onclick="closeNav()">
        <!-- <div class="container col" id="mobContent">
            <div id="mobDiv">
                <label class="firstLabel justify-content-center">First name</label>
                <input type="text" id="FName" value="<%=user.detail.FName%>" class="myInput" readonly="readonly">
                <br>
                <label class="firstLabel">Last name</label>
                <input type="text" id="LName" class="myInput" value="<%=user.detail.LName%>" readonly="readonly">
                <br>
                <label class="firstLabel">Email</label>
                <input type="email" id="mail" class="myInput" value="<%=user.username%>" readonly="readonly">
            </div>
        </div> -->
        <div class="content">
            <a href="#" class="text-reset"><span id="editSpan"><i class="fas fa-pen fa-2x fa-center"></i></span></a>
            <form>
                <table>
                    <tr>
                        <td><label class="firstLabel">First name</label></td>
                        <td><input type="text" id="FName" value="<%=user.detail.FName%>" class="myInput"
                                readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">Last name</label></td>
                        <td><input type="text" id="LName" class="myInput" value="<%=user.detail.LName%>"
                                readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">Email</label></td>
                        <td><input type="email" id="mail" class="myInput" value="<%=user.username%>"
                                readonly="readonly">
                        </td>
                    </tr>
                </table>
                <!-- <button id="editBtn" type="button" onclick="saveedit()">Edit</button>
            <button id="pinChange" type="button">Change Password</button>  -->
                <!-- </form>
            <div class="table-2">
              <form  action="/changePassword" method="post">

                <table>
                    <tr>
                        <td><label class="secLabel">Old Password</label></td>
                        <td><input name="oldpassword" type="password"></td>
                    </tr>
                    <tr>
                        <td><label class="secLabel">New Password</label></td>
                        <td><input name="newpassword"type="password"></td>
                    </tr>
                </table>
                <button id="saveBtn">Save</button>
              </form>

            </div>
            <form>
         <div id="moreInfo">
                <h1>Add More Details</h1>
                <table id="moreInfoTable">
                    <tr>
                        <td><label class="firstLabel">Description</label></td>
                        <td><input name = "Description"type="text" id="Description" placeholder="Description"></td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">Education</label></td>
                        <td>
                            <select name="edu" id="edu">
                                <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                <option value="No formal education">No formal education</option>
                                <option value="Primary education">Primary education</option>
                                <option value="Secondary education">Secondary education or high school</option>
                                <option value="Vocational qualification">Vocational qualification</option>
                                <option value="Bachelor's degree">Bachelor's degree</option>
                                <option value="Master's degree">Master's degree</option>
                                <option value="Doctorate or higher">Doctorate or higher</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">State</label></td>
                        <td>
                            <select name="state" id="state" class="form-control">
                                <option value="Andhra Pradesh" selected disabled>Select</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="firstLabel">City</label></td>
                        <td>
                            <select name="city" id="city">
                                <option value="Delhi" selected disabled>Select</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Lucknow">Lucknow</option>
                                <option value="Jaipur">Jaipur</option>
                                <option value="Banglore">Banglore</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button type="button" onclick="savedetail()">Save</button>
            </div>  -->
            </form>
        </div>
        <div class="text-center" id="profileNav">
            <hr />
            <div class="row list-tab">
                <div class="col"><button id="QuestionList" class="text-decoration-none shadow-none btn">
                        <%=question.length%> Questions
                    </button></div>
                <%var d=0%>
                    <%answer.forEach(function(se){%>
                        <%se.answer.forEach(function(tt){%>
                            <%d++%>
                                <%});%>
                                    <%});%>
                                        <div class="col"><button id="AnswerList"
                                                class="text-decoration-none shadow-none btn">
                                                <%=d%> Answers
                                            </button></div>
                                        <div class="col"><button id="FollowersList"
                                                class="text-decoration-none shadow-none btn">
                                                <%=followers.length%> Followers
                                            </button></div>
                                        <div class="col"><button id="FollowingList"
                                                class="text-decoration-none shadow-none btn"
                                                name="<%=following.length%>">
                                                <%=following.length%> Following
                                            </button></div>
                                        <!--  <div class="col"><button id="Shares" class="text-decoration-none btn">0 Shares</button></div>-->

            </div>
            <hr />
            <span class="slide"></span>
        </div>

        <!-- QUESTIONS PART HERE -->

        <div class="QuestionList t-hide list-hide">
            <%question.forEach(function(se){%>
                <div class="questionDiv">
                    <!-- <hr /> -->
                    <div>
                        <a href="/question/<%=se._id%>" class="text-decoration-none">
                            <%=se.ques%>
                        </a>
                    </div>
                    <p class="text-decoration-none fs-6">
                        <%=se.answer.length%> Answers
                    </p>
                    <!-- <hr /> -->
                </div>
                <%});%>
        </div>

        <!-- ANSWERS PART HERE -->
        <div class="AnswerList t-hide list-hide">
            <%answer.forEach(function(se){%>
                <div class="answerer">
                    <div class="profile">
                        <!-- <img src="/image/<%=se.userId%>" alt="profile photo" class="dp"> -->
                        <i class="dpIcon fas fa-user-circle fa-2x"></i>
                        <h6 class="fw-bold getname" name="<%=se.userId%>"></h6>&nbsp;&nbsp;
                        <p class="gettime mt-2" name="<%=se.time%>"></p>
                    </div>
                    <h6 id="ques">
                        <%=se.ques%>
                    </h6>
                    <%se.answer.forEach(function(tt){%>
                        <p>
                            <%=tt.ans%>
                        </p>
                        <%});%>
                            <hr />
                </div>
                <%});%>

        </div>

        <!-- FOLLOWERS PART HERE -->
        <div class="p-2 follSec t-hide FollowersList list-hide">
            <%followers.forEach(function(se){%>
                <hr />
                <%var x=false%>
                    <%following.forEach(function(te){%>
                        <%if(se._id.toString()==te._id.toString()){%>
                            <%x=true%>
                                <%}%>
                                    <%});%>

                                        <div class="following col d-flex align-items-center ttfollowed <%=se._id%>">
                                            <i class="dpIcon fas fa-user-circle fa-2x"></i>
                                            <h6 class="fw-bold">
                                                <%=se.detail.FullName%>
                                            </h6>
                                            <%if(x){%>
                                                <button class="followBtn followed <%=se._id%>"
                                                    name="<%=se._id%>">UnFollow</button>
                                                <%}else{%>
                                                    <button class="followBtn followed <%=se._id%>"
                                                        name="<%=se._id%>">Follow</button>
                                                    <%}%>
                                        </div>
                                        <hr />
                                        <%})%>
        </div>

        <!-- FOLLOWING PART HERE -->

        <div class="p-2 follSec t-hide FollowingList list-hide">
            <%following.forEach(function(se){%>
                <hr class="hr <%=se._id%>" />
                <div class="following col d-flex align-items-center ttfollow <%=se._id%>">
                    <i class="dpIcon fas fa-user-circle fa-2x"></i>
                    <h6 class="fw-bold">
                        <%=se.detail.FullName%>
                    </h6>
                    <button class="followBtn befollowed <%=se._id%>" name="<%=se._id%>">UnFollow</button>
                </div>
                <hr class="hr <%=se._id%>" />
                <%})%>
        </div>
    </section>

    <script src="../myprofile.js"></script>

    </body>


    </html>