<%- include('partials/HeaderforquesAns') %>
  <section id="navSec">
    <ul>
      <li>Quora</li>
      <form  action="/Searching" method="post">
        <input type="text" name = "search" placeholder="Search">
      </form>
      <a href="/profile/<%=properuser%>"><img src="/image/<%=properuser%>" id="profileImg"></a>
    </ul>
  </section>

  </section>
  <section id="quesAnsSec">
      <div id="quesAnsDiv">
        <div id="questioner">
          <div class="profile">
            <a href="/image/<%=user.userId%>"><img src="/image/<%=user.userId%>" alt="" class="dp"></a>
            <a href="/profile/<%=user.userId%>"> <h3><%=name%></h3></a>
            <h5> ,Date and time...</h5>
          </div>
          <h1 id="ques"><%=user.ques%></h1>
          <%var like=false, dislike=false%>
          <%likedarray.forEach(function(se){%>
            <%if(se == iddd){%>
              <%like = true;%>
            <%}%>
          <%});%>
          <%dislikedarray.forEach(function(se){%>
            <%if(se == iddd){%>
              <%dislike = true;%>
            <%}%>
          <%});%>
          <div id="quesIcons">
            <%if(like){%>
                <img src="../images/like.png" id="<%=iddd%>" alt="<%=iddd%>" class="quesIcons quesIconslike like clickedIcon">
                <%if(dislike){%>
                  <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike clickedIcon">
                  <%}else{%>
                    <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike">
                    <%}%>
              <%}else{%>
                  <img src="../images/like.png" id="<%=iddd%>" alt="<%=iddd%>" class="quesIcons quesIconslike like">
                  <%if(dislike){%>
                    <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike clickedIcon">
                    <%}else{%>
                      <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike">
                      <%}%>
                    <%}%>
                    <img src="../images/comment.png" alt="like" id="allAnswer">
                  </div>
          </div>
      <%user.answer.forEach(function(test){%>
      <%var like=false, dislike=false%>
      <%likedarray.forEach(function(se){%>
        <%if(se == test._id){%>
          <%like = true;%>
        <%}%>
      <%});%>
      <%dislikedarray.forEach(function(se){%>
        <%if(se == test._id){%>
          <%dislike = true;%>
        <%}%>
      <%});%>
      <div class="answerer">
      <%if(like){%>
          <div class="profile">
          <%console.log(test.postedUser);%>
            <img src="/image/<%=test.postedUser%>" alt="profile photo" class="dp">
            <h4><%=test.FullName%></h4>
            <h5> ,Date and time...</h5>
          </div>
          <p id="ans"><%=test.ans%></p>
          <img src="../images/like.png"  id="<%=test._id%>" alt="<%=test._id%>"class=" ansIcons ansIconslike like clickedIcon">
          <%if(dislike){%>
            <img src="../images/dislike.png"   id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike clickedIcon">
            <%}else{%>
              <img src="../images/dislike.png"   id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike">
              <%}%>
          <hr />
        <%}else{%>
            <div class="profile">
              <a href="/image/<%=test.postedUser%>"><img src="/image/<%=test.postedUser%>" alt="profile photo" class="dp"></a>
              <a href="/profile/<%=test.postedUser%>"><h4><%=test.FullName%></h4></a>
              <h5> ,Date and time...</h5>
            </div>
            <p id="ans"><%=test.ans%></p>
          <img src="../images/like.png"  id="<%=test._id%>" alt="<%=test._id%>" class=" ansIcons ansIconslike like">
            <%if(dislike){%>
              <img src="../images/dislike.png" id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike clickedIcon">
              <%}else{%>
                <img src="../images/dislike.png"   id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike">
                <%}%>
            <hr />
              <%}%>
              </div>
      <%});%>
      <form class="" action="/answer" method="post">
        <input type="hidden" name="question" value="<%=iddd%>">
        <input type="text" name="answer">
        <button type="submit" name="button"></button>
      </form>
    </div>
  </section>
  <%- include('partials/FooterforquesAns')%>
