<%- include('partials/HeaderforquesAns') %>
<section id="navSec">
  <ul>
    <li>Quora</li>
    <form  action="/Searching" method="post">
      <input type="text" name = "search" placeholder="Search">
    </form>
    <form class="" action="/" method="get">
     <button type="submit" name="button">sign in</button>
    </form>
  </ul>
</section>

</section>
<div>
  <section id="quesAnsSec">
    <div id="quesAnsDiv">
      <div id="questioner">
        <div class="profile">
          <img src="../images/user.png" alt="" class="dp">
<a href="/profile/<%=user.userId%>"> <h3><%=name%></h3></a>
        </div>
        <h1 id="ques"><%=user.ques%></h1>
        <%var like=false, dislike=false%>
        <%likedarray.forEach(function(se){%>
          <%if(se == iddd){%>
            <%like = true;%>
          <%}%>
        <%});%>
        <%dislikedarray.forEach(function(se){%>
          <%if(se == iddd){%>
            <%dislike = true;%>
          <%}%>
        <%});%>
        <div id="quesIcons">
          <%if(like){%>
              <img src="../images/like.png" id="<%=iddd%>" alt="<%=iddd%>" class="quesIcons quesIconslike like clickedIcon">
              <%if(dislike){%>
                <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike clickedIcon">
                <%}else{%>
                  <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike">
                  <%}%>
            <%}else{%>
                <img src="../images/like.png" id="<%=iddd%>" alt="<%=iddd%>" class="quesIcons quesIconslike like">
                <%if(dislike){%>
                  <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike clickedIcon">
                  <%}else{%>
                    <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconsdislike dislike">
                    <%}%>
                  <%}%>
                  <img src="../images/comment.png" alt="like" id="allAnswer">
                </div>
        </div>
    <%user.answer.forEach(function(test){%>
    <%var like=false, dislike=false%>
    <%likedarray.forEach(function(se){%>
      <%if(se == test._id){%>
        <%like = true;%>
      <%}%>
    <%});%>
    <%dislikedarray.forEach(function(se){%>
      <%if(se == test._id){%>
        <%dislike = true;%>
      <%}%>
    <%});%>
    <div class="answerer">
    <%if(like){%>
        <div class="profile">
          <img src="../images/user.png" alt="" class="dp">
          <h4><%=test.FullName%></h4>
        </div>
        <p id="ans"><%=test.ans%></p>
        <img src="../images/like.png"  id="<%=test._id%>" alt="<%=test._id%>"class=" ansIcons ansIconslike like clickedIcon">
        <%if(dislike){%>
          <img src="../images/dislike.png"   id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike clickedIcon">
          <%}else{%>
            <img src="../images/dislike.png"   id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike">
            <%}%>
        <hr />
      <%}else{%>
          <div class="profile">
            <img src="../images/user.png" alt="" class="dp">
            <a href="/profile/<%=test.postedUser%>"><h4><%=test.FullName%></h4></a>
          </div>
          <p id="ans"><%=test.ans%></p>
        <img src="../images/like.png"  id="<%=test._id%>" alt="<%=test._id%>" class=" ansIcons ansIconslike like">
          <%if(dislike){%>
            <img src="../images/dislike.png" id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike clickedIcon">
            <%}else{%>
              <img src="../images/dislike.png"   id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons ansIconsdislike dislike">
              <%}%>
          <hr />
            <%}%>
            </div>
    <%});%>
    <form class="" action="/answer" method="post">
      <input type="hidden" name="question" value="<%=iddd%>" required>
      <input type="text" name="answer">
      <button type="submit" name="button"></button>
    </form>
  </div>
</section>
</div>
  <script>

  document.getElementById('allAnswer').onclick = () => {
      let ans = document.getElementsByClassName('answerer');
      for (let i = 0; i < ans.length; i++) {
          ans[i].classList.toggle("showAns");
      }
  }

  let quesIconslike = document.getElementsByClassName('quesIconslike');

  for (let i = 0; i < quesIconslike.length; i++) {
      quesIconslike[i].onclick = () => {
        alert("you are not logged in");
      }
  }
  // console.log(quesIconslike);
  let quesIconsdislike = document.getElementsByClassName('quesIconsdislike');

  for (let i = 0; i < quesIconsdislike.length; i++) {
      quesIconsdislike[i].onclick = () => {
        alert("you are not logged in");
      }
  }
  let ansIconslike = document.getElementsByClassName('ansIconslike');
  let ansIconsdislike = document.getElementsByClassName('ansIconsdislike');

  for (let i = 0; i < ansIconslike.length; i++) {
      ansIconslike[i].onclick = () => {
        alert("you are not logged in");

      }
  }
  for (let i = 0; i < ansIconsdislike.length; i++) {
      ansIconsdislike[i].onclick = () => {
        alert("you are not logged in");

      }
  }
  </script>
