<%- include('partials/HeaderforquesAns') %>
<section id="navSec">
  <ul class="d-flex flex-row align-items-center justify-content-around">
    <li>Quora</li>
    <form  action="/Searching" method="post">
      <input type="text" name = "search" placeholder="Search">
    </form>
    <form class="" action="/" method="get">
     <button type="submit" name="button">sign in</button>
    </form>
  </ul>
</section>

  <section id="quesAnsSec">
      <div id="quesAnsDiv">
        <div id="questioner">
          <div class="profile d-flex align-items-center">
            <img src="/image/<%=user.userId%>" alt="" class="dp">
            <a href="/profile/<%=user.userId%>" class="text-decoration-none text-dark">
              <h3 class="fw-bolder fs-5">
                <%=name%>
              </h3>
            </a>
          </div>
          <h3 id="ques"><%=user.ques%></h3>
          <div id="quesIcons">
                <img src="../images/like.png" id="<%=iddd%>" alt="<%=iddd%>" class="quesIcons quesIconslike like ">
                <img src="../images/dislike.png" id="<%=iddd%>" alt="<%iddd%>" class="quesIcons quesIconslike dislike ">
                <img src="../images/comment.png" alt="like" id="allAnswer">
                </div>
        </div>
        <h3 class="fw-bold mt-4">Log in to answer the question🙂</h3>
    <%user.answer.forEach(function(test){%>
      <hr />
    <div  class="answerer">
        <div class="profile d-flex align-items-center">
          <img src="/image/<%=test.postedUser%>" alt="" class="dp">
          <a href="/profile/<%=test.postedUser%>" class="text-decoration-none text-dark">
            <h3 class="fw-bolder fs-5">
              <%=test.FullName%>
            </h3>
          </a>
        </div>
        <p id="ans"><%=test.ans%></p>
        <img src="../images/like.png"  id="<%=test._id%>" alt="<%=test._id%>"class=" ansIcons quesIconslike like">
          <img src="../images/dislike.png"   id="<%=test._id%>" alt="<%=test._id%>" class="ansIcons quesIconslike dislike">
          <hr />
      </div>
          <%});%>
  </div>
</section>
</div>
  <script>
  $('#allAnswer').on('click',function(){
    $('.answerer').toggleClass('showAns')// console.log();
  });
  $('.quesIconslike').on('click',function(){
    alert("you are not logged in");

  });
</script>
