<%- include('partials/Header2')%>

  <!-- <div class="jumbotron text-center">
    <div class="row row-flat">
      <% user.forEach(function(se){%>
        <a href="/question/<%=se._id%>">
          <%=se.ques%>
        </a>
        <br>
        <%});%>
    </div>


    <hr>
    <a class="btn" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div> -->
  <section id="navSec">
    <nav id="navbar">
      <span id="title">Quora</span>
      <ul id="list-1">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="#aboutSec">About</a></li>
        <li class="item"><a href="/queries">Queries</a></li>
        <li class="item"><a href="#contactSec">Contact</a></li>
      </ul>
      <ul id="list-2">
        <input type="text" id="searchBar" placeholder="Search here...">
        <img src="images/search.png" id="searchImg">
        <button id="askBtn">Ask questions</button>
        <a href=""><img src="images/user.png" id="profileImg"></a>
      </ul>
    </nav>
  </section>
  <%if(user.length===0){%>
    <section id="querySec">
      <div id="queryDiv">
      <div class="quesDiv">
    <h1>No Questions are currently available</h1>
      </div>
      </div>
    </section>
  <%}else{%>
    <section id="querySec">
      <div id="queryDiv">
      <section id="querySec">
        <div id="queryDiv">
          <% user.forEach(function(se){%>
            <div class="quesDiv">
            <a href="/question/<%=se._id%>"><p>Q. <%=se.ques%></p></a>
            </div>
            <br>
          <%});%>
        </div>
      </section>
      </div>
    </section>
  <%}%>




  <%- include('partials/footer') %>
