<%-include("partials/HeaderForsigned");%>
  <nav id="searchNav">
    <ul>
      <li><button id="userBtn">Users</button></li>
      <li>&nbsp; / &nbsp; </li>
      <li><button id="quesBtn">Questions</button></li>
    </ul>
  </nav>
  <!-- <h1>Users:</h1> -->
  <!-- <br> -->
  <%if(user.length===0){%>
    <section>
      <div id="userDiv">
        <div>
          <h1>No User Found! 😞</h1>
        </div>
      </div>
    </section>
    <%}else{%>
      <section>
        <div id="userDiv">
          <% user.forEach(function(se){%>
            <div id="user">
              <hr />
              <i class="fas fa-user-circle fa-2x"></i>
              <a href="/profile/<%=se._id%>">
                <h3>
                  <%=se.detail.FullName%>
                </h3>
              </a>
              <button id="flwBtn">Follow</button>
              <hr />
            </div>
            <br>
            <%});%>
        </div>
      </section>
      <%}%>


        <!-- <h1 >Questions:</h1> -->
        <!-- <br> -->
        <%if(questions.length===0){%>
          <section id="querySec">
            <div id="queryDiv">
              <div>
                <h1>No Questions Found! 😞</h1>
              </div>
            </div>
          </section>
          <%}else{%>
            <section id="querySec">
              <div id="queryDiv">
                <% questions.forEach(function(se){%>
                  <div class="quesDiv">
                    <a href="/question/<%=se._id%>">
                      <h1>
                        <%=se.ques%>
                      </h1>
                    </a>
                  </div>
                  <br>
                  <%});%>
              </div>
            </section>
            <%}%>
              <%-include("partials/Footerforsigned");%>