<%-include("partials/HeaderForsigned");%>
  <nav id="searchNav">
    <ul>
      <li><button class="newt" id="userBtn">Users</button></li>
      <li>&nbsp; / &nbsp; </li>
      <li><button class="newt" id="quesBtn">Questions</button></li>
    </ul>
  </nav>

  <div class="userBtn xt" style="display: none">
    <%if(user.length===0){%>
      <section>
        <div id="userDiv">
          <div>
            <h1>No User Found! 😞</h1>
          </div>
        </div>
      </section>

      <%}else{%>
        <section>
          <div id="userDiv">
            <%user.forEach(function(se){%>
              <div id="user">
                <hr />
                <i class="fas fa-user-circle fa-2x"></i>
                <a href="/profile/<%=se._id%>">
                  <h3>
                    <%=se.detail.FullName%>
                  </h3>
                </a>
                <%let like=false%>
                  <%me.following.forEach(function(te){%>
                    <%if(te.toString()==se._id.toString() || se._id.toString()==properuser.toString()){%>
                      <%like=true;%>
                        <%}%>
                          <%});%>
                            <%if(like){%>
                              <button name="<%=se._id%>" id="flwBtn">UnFollow</button>
                              <%}else{%>
                                <button name="<%=se._id%>" id="flwBtn">Follow</button>
                                <%}%>
                                  <hr />
              </div>
              <br>
              <%});%>
          </div>
        </section>
        <%}%>
  </div>


  <!-- <h1 >Questions:</h1> -->
  <!-- <br> -->
  <div class="quesBtn xt" style="display: none">
    <%if(questions.length===0){%>
      <section id="querySec">
        <div id="queryDiv">
          <div>
            <h1>No Questions Found! 😞</h1>
          </div>
        </div>
      </section>
      <%}else{%>
        <section id="querySec">
          <div id="queryDiv">
            <% questions.forEach(function(se){%>
              <div class="quesDiv">
                <a href="/question/<%=se._id%>">
                  <p>Q. <%=se.ques%>
                  </p>
                </a>
              </div>
              <br>
              <%});%>
          </div>
        </section>
        <%}%>
  </div>
  <%-include("partials/Footerforsigned");%>